*{
    margin: 0;
    padding: 0;
    }
  
    body{
      background: url(modern-car-g.jpg) no-repeat center center fixed;
      background-size: cover;
    }


    .container-a{ 
        
        opacity: 0.5;
        border: none;
        color: white;
        position: absolute;
        top: 10%;
        left: 70%; 
    }